<h1> ALL INFORMATIONS FOR TEST THIS API </h1>
<p>
    <ul>
        <p>
            <li> for Register Clik here  <a href = 'http://127.0.0.1:8000/rest-auth/registration/'> REGISTRATION </a> </li>
        </p>

        <p>
            <li> For Logging Click here <a href = 'http://127.0.0.1:8000/rest-auth/login/'>LOGIN</a> </li>
        </p>

        <p>
            <li> For Logout Click here <a href = 'http://127.0.0.1:8000/rest-auth/logout/'>LOGOUT</a> </li>
        </p>

        <p>
            <li> For see all Users clikc here <a href = 'http://127.0.0.1:8000/api/list/'>ALL USER</a> </li>
        </p>

        <p>
            <li> For get detail of user put id user in the link  <a href = 'http://127.0.0.1:8000/api/1/detail/'>Detail</a> </li>
        </p>

        <p>
            <li> For edit any user put id user in the link  <a href = 'http://127.0.0.1:8000/api/1/edit/'>EDIT</a> </li>
        </p>

        <p>
            <li> For edit any user put id user in the link  <a href = 'http://127.0.0.1:8000/api/1/delete/'>Delete</a> </li>
        </p>

    </ul>
<p>